@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

html, body {
	width: 100%;
	height: 100%;
}

.contain-to-screen-size {
	height: calc(100% - 4rem)
}

.btn {
    @apply font-bold;
    @apply py-2; 
    @apply px-4;
    @apply rounded;
}
.btn-blue {
    @apply bg-blue-500; 
    @apply text-white;
}
.btn-blue:hover {
    @apply bg-blue-700;
}

.btn {
    @apply font-bold;
    @apply py-2;
    @apply px-4;
    @apply rounded;
}
  .btn-red {
    @apply bg-blue-500;
    @apply text-white;
}
  .btn-red:hover {
    @apply bg-blue-700;
}